
@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');




body button {
  font-family: 'Montserrat', sans-serif;
}

.button {
  border-radius: 1px;
  border: 2px solid #9bf;

  &:hover {
    border-color: #9bf;
    background-color: #f9f9ff;
  }

  &:focus {
    outline: 5px solid white;
  }
}

.navbar {
  background-color: #ccc;
}

.header {
  background-image: linear-gradient(#ffcaff,
    #ffcaff 4px, #cfb 3px,
    #cfb 7px, #9bf 6px, #9bf 9px, white 8px);
  min-height: 20px;
}

// Misspelt to avoid bulma clash
.heroe {
  padding-top: 50px;
  height: 270px;
  transition: all 1s;
  transition-timing-function: ease-in-out;
}

#hero-loading {
  height: calc(100vh - 52px);
}

.title {
  text-align: center;
  font-weight: 400;
  font-size: 4.5em;
  color: #555;

  img {
    position: relative;
    top: 20px;
    left: 50px;
  }
}

.subtitle {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  padding: 20px 0;
}

.loading {
  opacity: 0;
  transition: all 1s;
  color: #555;
  text-align: center;
  font-size: 1.2em;
  height: 0;
}

#is-loading {
  opacity: 1;
  height: auto;
  margin-top: 100px;
}

.news-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news-scroll {
  display: flex;
}

.news-card, .news-card-text-only {
  position: relative;
  min-width: 280px;
  max-width: 280px;
  height: 300px;
  border: 2px solid #9bf;

  margin: 15px;
  background-color: white;

  h4 {
    position: relative;
    top: 0;
    padding: 15px 20px;
    font-weight: 600;
    color: #555;
    background-color: transparent;

    transition: all 0.7s;
  }

  p {
    font-size: medium;
    padding: 0 15px;
    opacity: 0;
    transition: all 0.7s;
    background-color: white;
  }
}

.news-card:hover {
  img {
    opacity: 0;;
  }
  h4 {
    top: -150px;
    background-color: white;
  }
  .article-info {
    top: -150px;
    opacity: 1;
    z-index: 100;
  }
  .read-more {
    opacity: 1;
  }
}

.news-card-text-only:hover {
  p {
    opacity: 1;
  }
}

.news-card img {
  width: 100%;
  height: 50%;
  transition: all 0.7s;
}

.article-info {
  position: relative;
  top: 0;
}

.read-more {
  position: absolute;
  top: 250px;
  right: 10px;
}

.shadows div {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  height: 300px;
  transition: all 0.6s;

  &.shadow-1 {
    background-color: #cfb;
    z-index: -1;
    transform: rotate(1deg);

    &.card-hover {
      transform: rotate(2deg);
    }
  }

  &.shadow-2 {
    background-color: plum;
    z-index: -2;
    transform: rotate(2deg);
    
    &.card-hover {
      transform: rotate(4deg);
    }
  }
}

.input {
  border-radius: 1px;
  border: 1px solid lightblue;
  box-shadow: none;

  &:focus {
    border: 2px solid lightblue;
    box-shadow: none;
    
    &:hover {
      border: 2px solid lightblue;
      
    }
  }

  &:hover {
    border: 1px solid lightblue;
    box-shadow: none;
  }
}

.autocomplete-item {
  font-size: small;
  padding: 10px;
  color: #555;

  &:hover {
    background-color: white;
    cursor: pointer;
  }
}

.autocomplete-container {
  position: relative;
}

.keyword-heading {
  position: relative;
  width: 100%;
  padding: 50px 100px 0;
  font-size: 1.7rem;
  font-weight: 300;
  background-image: linear-gradient(transparent,
    transparent 75%, #9bf 74%, #9bf 76%, transparent 75%,
    transparent 80%, plum 79%, plum 81%, transparent 80%);

  span { // remove button
    position: absolute;
    right: 25px;
    top: 52px;
    padding: 5px;
    font-size: medium;
    color: palevioletred;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: #f03;
    }
  }
}

.feed-empty{
  margin-top: 40px;
  text-align: center;
  padding: 20px 0;
  color: #888;
 
  background-image: linear-gradient(transparent,
     transparent 40%, lightgreen 39%, lightgreen 41%, transparent 40%,
     transparent 50%, lightpink 49%, lightpink 51%, transparent 50%);
 }


// BROWSE

.form-container{
  padding: 30px;
  overflow-y: hidden;
  height: 16.5em;
  // background-image: linear-gradient(lightblue, white 100%);
}

.query-form {
  transition: all 1s;
  overflow: hidden;
}

.label {
  color: #555;
}

.current-filters{
  position: relative;
  margin: 10px;

  h2 {
    margin: 15px 0;
    text-transform: uppercase;
  }
}

.sub-btn {
  position: relative;
  top: 0;
  line-height: 1.7em;
  min-width: 6em;
  margin: 5px;
  background-color: white;
  border: 2px solid lightgreen;
  border-radius: 2px;
  text-transform: uppercase;
  transition: all 1s;
  cursor: pointer;

  .filter-label {
    padding: 5px;
  }

  span {
    display: block;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }

  img {
    position: relative;
    top: 3px;
    left: 5px;
    margin-left: 10px;
  }

  &:hover {
    span {
      height: 1.7em;
    }
  }

  &:focus {
    outline: none;
  }
}

// TOP STORIES

.top-categories{
  // padding: 30px;
  overflow-y: hidden;
  height: 16.5em;
  background-color: #ccc;

  h2, h3{
    text-align: center;
  }

  h2{
    font-size: 1.75em;
    margin-top: 50px;
  }
  
}

.button.is-large.subnav-btn{
  background-color: #ccc;
  border-radius: 0;
  border: 0;
  border-width: 0;
}

.outer-top-stories{
  height: 100vh;
}

#is-subselected{
  background-color: white;
}

#topstories-loading {
  height: 300px;
}

// NAVBAR

.nav-item{
  position: relative;
  text-align: right;
  color: #555;
  padding: 15px 15px;
  width: 9em;

  &:hover, &.is-selected {
    background-color: white;
    color: #888;
  }

  // &:first-of-type {
  //   margin-left: 50px;
  // }
}

.link-border {
  position: absolute;
  bottom: -9px;
  left: 0;
  height: 9px;
  width: 9em;
  background-color: transparent;
}

.logo {
  width: 45px;
  position: absolute;
  right: 20px;
  top: 4px;
}

// SCROLL

.section-scroll {
  overflow-x: scroll;
  padding: 20px 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

::-webkit-scrollbar-track {
  // background-color: transparent;
  // transition: all 10s; Not working ??
  &:hover {
    background-color: #def;
  }
}



// Media rules

@media only screen and (max-width: 1000px){
  .button.is-large.subnav-btn{
    font-size: 1.2em;
  }
}
