
@import '~bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');




body {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.navbar.is-dark {
  // background-color: rgb(55, 187, 231);
  background-color: #888;
}

.hero {
  height: calc(100vh - 52px);
  transition: all 1s;
  transition-timing-function: ease-in-out;
}

.hero-body .container .title {
  font-weight: 400;
  font-size: 4.5em;
  color: #333;
}

.hero-body {
  background-image: linear-gradient(lightgreen,
    lightgreen 8px, lightblue 7px, white 90%);
  border-top: 10px solid lightpink;
  padding-right: 0;
  padding-left: 0; 
}

.loading {
  margin-top: 100px;
  opacity: 1;
  transition: all 1s;
  color: #555;
  text-align: center;
  font-size: 1.2em;
}

.intro-blurb {
  text-align: center;
  font-size: 1.5rem;
  color: #555;
}

.news-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news-card, .news-card-text-only {
  position: relative;
  width: 300px;
  height: 300px;
  border: 2px solid lightpink;

  margin: 15px;
  background-color: white;
}

.news-card:hover {
  img {
    opacity: 0;;
  }
  h4 {
    top: -150px;
    background-color: rgba(255,255,255,1);
  }
  .article-info {
    top: -150px;
    opacity: 1;
    z-index: 100;
  }
  .read-more {
    opacity: 1;
  }
}

.news-card-text-only:hover {
  p {
    opacity: 1;
  }
}

.shadow-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 300px;
  box-shadow: 5px 5px 0 -3px lightgreen;
}

.shadow-2 {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 300px;
  height: 300px;
  box-shadow: 5px 5px 0 -3px lightblue;
}

.news-card img {
  width: 100%;
  height: 50%;
  transition: all 1s;
}

.news-card h4,
.news-card-text-only h4 {
  position: relative;
  top: 0;
  padding: 15px 20px;
  font-weight: 600;
  color: #555;
  background-color: rgba(255,255,255,0);

  transition: all 1s;
}

.news-card p,
.news-card-text-only p {
  font-size: medium;
  padding: 0 15px;
  opacity: 0;
  transition: all 1s;
  background-color: white;
}

.article-info {
  position: relative;
  top: 0;
}

.read-more {
  position: absolute;
  top: 250px;
  right: 10px;
}

.autocomplete {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  background-color: blue;
}

.autocomplete-item {
  font-size: small;
  margin: 3px 5px;
  border: 1px solid lightblue;
}

.autocomplete-item:hover{
  cursor: pointer;
}

.keyword-heading {
  font-size: 1.7rem;
  font-weight: 300;
  padding: 20px 100px 0;
  width: 100%;

  background-image: linear-gradient(white,
    white 60%, lightgreen 59%, lightgreen 61%, white 60%,
    white 70%, lightpink 69%, lightpink 71%, white 70%);
}


//Start of Filter and Browse section

.form-container{
  padding: 30px;
}

.form-display{
  background-color: white;
}


form.box{
  box-shadow: none;

  border: 2px solid lightgreen;
  border-radius: 5px;
  box-shadow: 0 0 0 4px lightblue,
  0 0 0 7px  lightpink;
}

.browse-outercontainer{
  position: relative;
}

.form-container.form-hide{
  display: none;
  // position: absolute;
  // transform: translateY(-100%);
  // transition-duration: 3s;
  // z-index: -1;
  // margin-bottom: 0;
}

.redisplay-form{
  position: relative;
  top: 0;
  border: 1px solid lightgreen;
  border-radius: 10px;
  box-shadow: 0 0 0 3px  lightblue;
}

.current-filters{
  margin: 10px;

  h2, p {
    margin: 5px;
    text-transform: uppercase;
  }

  button {
    position: relative;
    top: 4px;
  }
}

.to-filters{
  display: inline-block;
  font-weight: bold;
  border: 3px solid lightpink;
}

.add-feed{
  border: 3px solid lightgreen;
  border-radius: 2px;
}

.submit-btn{
  border: 3px solid lightblue;
  font-weight: bold;
}

.outer-newsgrid{
  height: calc(100vh - 52px);
  transition: all 1s;
  transition-timing-function: ease-in-out;
}

//END of Filter and Browse Section


.feed-empty{
 margin-top: 40px;
 text-align: center;
 padding: 20px 0;
 color: #888;
 border-top: 3px solid lightgreen;
 border-bottom: 3px solid lightpink;
}

.navbar-item{
  margin: 3px;
}