@import '~bulma/bulma.sass';

.news-grid {
  display: flex;
  flex-wrap: wrap;
}

.news-card {
  width: 200px;
  height: 200px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px lightgreen;

  margin: 25px;
}

.news-card img {
  width: 100%;
  height: 70%;
}

.news-card h3 {
  padding: 5px 10px;

}